
<div class='alert alert-danger' *ngIf='errorMessage'>
{{errorMessage}}
</div>
<div class='alert alert-success' *ngIf='successMessage'>
  <h2>{{successMessage}}</h2>
  </div>
<div class='container-fluid'>
  <h1>Angular forms</h1>
<form #userform='ngForm'  *ngIf='!submitForm' novalidate  (ngSubmit)='SubmitForm()'> 

  <div class='form-group'>
<label>Name</label>
<input type='text' class='form-control'  required #name='ngModel' [class.is-invalid]='name.invalid && name.touched'[(ngModel)]='userModel.name' name='usernmae'>
 <small class='text-danger' [class.d-none]='name.valid  || name.untouched'>*Name Is Required</small>
<br>

<label>Phone</label>
<input type='tel'  required   pattern='^\d{10}$' #phone= 'ngModel' [class.is-invalid]='phone.invalid && phone.touched' class='form-control' [(ngModel)]='userModel.phone'  name='mobile'>
<div *ngIf='phone.errors &&(phone.touched || phone.invalid)'>
<small *ngIf='phone.errors.pattern' class='text-danger' [class.d-none]='phone.valid  || phone.untouched'>*invalid phone number</small>
<small *ngIf='phone.errors.required' class='text-danger' [class.d-none]='phone.valid  || phone.untouched'>*phone no is required</small>
</div>
<br>

<select class='custom-select'  required #topic='ngModel' [class.is-invalid]='topic.invalid && topic.touched' [(ngModel)]='userModel.topic' name='topic'>
<option value=""> I am Interested In</option>
<option *ngFor='let topic of topics'>{{topic}}</option>
</select>
<small class='text-danger' [class.d-none]='topic.valid  || topic.untouched'>*Field Is required</small>

<br>
<label> Time Preference</label>
<div class='form-check'>
<input class='form-check-input' type='radio' [(ngModel)]='userModel.timepreference' name='timeprefernce' value='morning' >
<label class='form-check-label'>Morning (9AM-12PM) </label>
</div>

<div class='form-check'>
<input class='form-check-input' type='radio' [(ngModel)]='userModel.timepreference' name='timepreference' value='evening'>
<label class='form-check-label'>Evening (5PM-10PM)</label>
</div>

<div class='form-check'>
  <input class='form-check-input' type='checkbox' [(ngModel)]='userModel.subscribe' name='subscribe'>
  <label class='form-check-label'>Send Me Promotional Messages</label>
</div>

<button [disabled]='userform.form.invalid' class='btn btn-primary' >Submit </button>
</div>
</form>
</div>


<!--div ngModelGroup='Address'>
  <label>Street</label>
  <input type= 'text' class='form-control' name='street' ngModel>
  <label>City</label>
  <input type= 'text' class='form-control' name='city' ngModel>
  <label>State</label>
  <input type= 'text' class='form-control' name='state' ngModel>
  <label>PostalCode</label>
  <input type= 'text' class='form-control' name='pincode' ngModel>
  </div>
Form Value: {{userform.value | json}}
 {{userform.form.valid}}
 <hr>
 Model Valeu:{{ userModel |json}}
-->